<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>SteamGraph</title>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<link rel="stylesheet" type="text/css" href="../static/custom.css">

<!--D3v3-->
<script type="text/javascript" src="../static/d3.v3.min.js"></script>
<script src="https://use.fontawesome.com/e6d63fb807.js"></script>
<script type="text/javascript" src="../static/steamDetails.js"></script>
<style type="text/css">

    #tooltip {
        position: absolute;
        width: 0px;
        height: auto;
        padding: 5px;
        background-color: white;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
        -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
        pointer-events: none;
        text-align: center;
    }
    #tooltip.hidden {
        display: none;
    }
    #tooltip.p {
        margin: 0;
        font-family: sans-serif;
        font-size: 10px;
        line-height: 20px;
    }
    .axis {
      font: 9px sans-serif;
    }

    .axis path,
    .axis line {
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
    }

    .x.axis path {
      display: none;
    }
</style>
</head>
<body>
    <div id="tooltip" class="hidden">
        <p><span id="genreName"></span></p>
    </div>
    <div class="container">
        <div class="row">
            <div id="graphContent" class="col-md-6"></div>
            <div id="topGamesContent" class="col-md-6">
                <div style="overflow: auto; height: 200px; width: 350px;">
                    <table id="topGames" class="table"></table>
                </div>
                <div class="row-fluid">
                    <div id="steamDetailsBox" class="col-md-3">
                        <div id="headerImage" class="span12 pagination-centered"></div>
                        <div id="platforms" class="span12 pagination-centered"></div>
                        <div id="metacritic" class="span12 pagination-centered">
                            <p><span id="metacriticScore"></span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <script type="text/javascript">
            var margin = { top: 60, right: 20, bottom: 100, left: 5};

            var h = 700 - margin.top - margin.bottom;
            var w = screen.width/1.5 - margin.left - margin.right;
            console.log(w);
            var countTotal = 0;

            var colors = d3.scale.category20c();
            var numericFormat = d3.format(',');
            var initialData = [];
            var totals = [];
            var STEAM_ID = 0;
	    var STEAM_COUNTER = 0;

            var svg = d3.select("#graphContent")
                .append("svg")
                .attr("width", w + margin.left + margin.right)
                .attr("height", h + margin.top + margin.bottom)
                .append("g")
                        .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

            d3.json("/as_of", function(error, json) {
                var ts = json["ts"];
                ts = ts[0];

                var message = "Results as of " + ts;
                var messageData = [message];

                svg.selectAll("text.title")
                  .data(messageData)
                  .enter()
                  .append("text")
                  .text(message)
                  .attr("x", w - margin["right"] * 10)
                  .attr("y", h - (margin["bottom"] / 2.5))
                  .attr("text-anchor", "right")
                  .attr("font-family", "sans-serif")
                  .attr("font-size", "11px");


            });


            d3.json("/list", function(error, json) {
                for (var i in json.genres) {
                    i = parseInt(i);
                    totals.push(parseInt(json.genres[i][2]));
                    initialData.push(json.genres[i]);
                }
                var results = loadGraph();
                var xScale = results[0];
                var bars = results[1];
                //var valueLabels = results[2];
                //var genreLabels = results[3];
                //var chartTitle = results[4];

                bars.on("click", function(d) {
                    fadeInOut("out", "#steamDetailsBox", 400);
                    var genre_id = d[0];
                    var data = [];
                    var myColor = d3.select(this).style("fill");
                    var genre_name;
                    d3.json("/top_games/" + genre_id, function(error, json) {
                        for (var i in json.top_games) {
                            data.push(json.top_games[parseInt(i)]);
                        }
                        genre_name = json.genre_name;
                        console.log(genre_name);
                        var columns = [
                            {column: "rank", styles: [["width", "15%"],
                                                      ["text-align", "left"]],
                                                      format: ""},
                            {column: "id", styles: [
                                            ["display", "none"],
                                            ["width", "0%"]], format: ""},
                            {column: "game", styles: [["width", "65%"]], format: ""},
                            {column: "players", styles: [["width", "20%"],["text-align","right"]], format: numericFormat }
                        ];
                        array2Table(genre_name, data, columns);
                        d3.select("#topGames").style("background-color", myColor);
                    });
                });
            });
        </script>
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

        <!-- Latest compiled and minified JavaScript -->
        <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>-->

    </body>
</html>

