<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>SteamGraph</title>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<link rel="stylesheet" type="text/css" href="../static/custom.css">

<!--jQuery for Bootstrap-->
<script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>

<!--D3v3-->
<script type="text/javascript" src="../static/d3.v3.min.js"></script>
<!--<script type="text/javascript" src="../static/steamDetails.js"></script>-->

<script src="https://use.fontawesome.com/e6d63fb807.js"></script>
<style type="text/css">

    #tooltip {
        position: absolute;
        width: 0px;
        height: auto;
        padding: 5px;
        background-color: white;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
        -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
        pointer-events: none;
        text-align: center;
    }
    #tooltip.hidden {
        display: none;
    }
    #tooltip.p {
        margin: 0;
        font-family: sans-serif;
        font-size: 10px;
        line-height: 20px;
    }

    #topBox {
        position: absolute;
        width: auto;
        height: auto;
        padding: 10px;
        font-family: sans-serif;
        font-size: 11px;
        line-height: 10px;
    }

    #topBox.hidden {
        display: none;
    }
    #asOfBox {
        position: fixed;
    }

    #steamDetailsBox {
        position: absolute;
        width: auto;
        height: auto;
        font-family: sans-serif;
        font-size: 11px;
        text-align: center;
    }
    #steamDetailsBox.hidden {
        display: none;
    }
</style>
</head>
<body>
    <div id="tooltip" class="hidden">
        <p><span id="genreName"></span></p>
        <p><span style="border:1.5px solid blue;" id="value">0</span></p>
    </div>
    <div id="topBox" class="container"></div>
    <div id="asOfBox">
        <p><span id="ts" style="solid blue;"></span></p>
    </div>
    <div id="steamDetailsBox" class="container">
        <div id="headerImage" class="row">
            <div class="col-md-10"></div>
        </div>
        <div id="platforms" class="row">
            <!--
            <i id="linux-icon" class="fa fa-linux" aria-hidden="true"></i>
            <i id="windows-icon" class="fa fa-windows" aria-hidden="true"></i>
            <i id="apple-icon" class="fa fa-apple" aria-hidden="true"></i>
            -->
            <div class="col-md-10"></div>
        </div>
        <div id="metacritic" class="row">
            <div class="col-md-10">
                <p><span id="metacriticScore"></span></p>
            </div>
        </div>
    </div>
        <script type="text/javascript">
            var margin = { top: 60, right: 20, bottom: 80, left: 20 };

            var h = 500 + margin.top + margin.bottom;
            var w = 1200 + margin.left + margin.right;
            var countTotal = 0;

            var colors = d3.scale.category20();
            var numericFormat = d3.format(',');
            var initialData = [];
            var totals = [];
            var STEAM_ID = 0;

            var svg = d3.selectAll("body")
                .append("svg")
                .attr("width", w)
                .attr("height", h);


            //XXX todo change columns to be an object where you pass in a format for each column.
            var array2Table = function(data, columns_obj) {

                var solidBlack = function(d3Obj) {
                    d3Obj.style("border", "1.4px solid black")
                };
                d3.select("#topBox").selectAll("table").remove()
                var table = d3.select("#topBox").append("table")
                              //.style("border-collapse", "collapse")
                              .classed("table", true)
                              .classed("table-hover", true)
                              .classed("table-condensed", true)
                              .attr("align", "center");


                var thead = table.append("thead");
                var tbody = table.append("tbody");

                solidBlack(table);

                thead.append("tr")
                    .selectAll("th")
                    .data(columns_obj)
                    .enter()
                    .append("th")
                    .text(function(d) { return d["column"]; })
                    .each(function(d) {
                            var th = d3.select(this);
                            solidBlack(th);
                            var styles = d["styles"];
                            if (styles) {
                                styles.forEach(function(s) {
                                    th.style(s[0], s[1]);
                                })
                            }
                        });

                //row for each object in arr
                var rows = tbody.selectAll("tr")
                        .data(data)
                        .enter()
                        .append("tr")
                        .attr("rowid", function(d) { return d.id; })
                        .attr("chosen", false)
                        .attr("onclick", function(d) {
                                return "steamDetails(" + d.id + ")";
                        });

                var cells = rows.selectAll("td")
                    .data(function(row) {
                          return columns_obj.map(function(col_obj) {
                              return {
                                        column: col_obj["column"],
                                        value: row[col_obj["column"]],
                                        styles: col_obj["styles"],
                                        format: col_obj["format"]
                              }
                          });
                    })
                    .enter()
                    .append("td")
                    .text(function(d) {
                          if (d["format"]) {
                            return d["format"](d["value"]);
                          }
                          else { return d["value"]; }
                    })
                    .each(function(d) {
                            var td = d3.select(this);
                            solidBlack(td);
                            var styles = d["styles"];
                            if (styles) {
                                //console.log(styles);
                                styles.forEach(function(s) {
                                    td.style(s[0], s[1]);
                                })
                            }
                        });
                return table
            }

            var steamDetails = function(id) {
                console.log(STEAM_ID);
                if (parseInt(id) === STEAM_ID) {
                    console.log("id: " + id + " just checked.");
                    return 0;
                }
                else { STEAM_ID = parseInt(id); }

                console.log("hitting /details");
                var url = "/details/" + id;

                d3.json(url, function(error, json) {
                    if (error) {
                        console.log(error);
                    }
                    else {

                        var u = json["header_image"];
                        var ending = u.match("\.jpg.*")[0];
                        var header_url = u.replace(ending, ".jpg");

                        //var currentTopBox = d3.select("#topBox").node();
                        //var currentTopBoxStyle = currentTopBox["style"];
                        ///var cssText = currentTopBoxStyle["cssText"];

                        var detailsBoxLeft = Math.floor(0.7 * w);
                        var detailsBoxHeight = Math.floor(0.1 * h);
                        var px = "px";

                        var detailsBox = d3.select("#steamDetailsBox")
                            .style("left", detailsBoxLeft + px)
                            .style("top", detailsBoxHeight + px);

                        detailsBox.select("#headerImage").selectAll("img").remove();
                        detailsBox.select("#platforms").selectAll("i").remove();
                        detailsBox.select("#metacritic").selectAll("a").remove();

                        var headerImageContent = d3.select("#headerImage").select(".col-md-10")
                            .append("img")
                            .attr("src", header_url)
                            .classed("img-responsive", true);

                        var hPadding = "30px";
                        var vPadding = "50px";
                        //detailsBox.select("#headerImage")
                        //    .style("padding-top", vPadding)
                        //    .style("padding-bottom", vPadding)
                        //    .style("padding-left", hPadding)
                        //    .style("padding-right", hPadding);

                        var platforms = json["platforms"];
                        if (platforms) {

                            var platformMappings = {
                                "windows": "fa fa-windows",
                                "linux": "fa fa-linux",
                                "mac": "fa fa-apple",
                            }

                            for (var i in platforms) {
                                if (platforms[i]) {
                                    var platformClass = platformMappings[i];

                                    detailsBox.select("#platforms").select(".col-md-10")
                                        .append("i")
                                        .classed(platformClass, true)
                                        .attr("aria-hidden", "true")
                                }
                            }
                        }
                        var metacritic = json["metacritic"];
                        if (metacritic) {
                            var score = metacritic["score"];
                            var metacriticUrl = metacritic["url"];

                            detailsBox.select("#metacritic").select(".col-md-10").select("#metacriticScore")
                                .append("a")
                                .attr("href", metacriticUrl)
                                .html("Metascore: " + score);
                        }
                        detailsBox.classed("hidden", false);
                    }
                })
            };

            var loadGraph = function() {
                //console.log("--in-loadGraph()--");
                var xScale = d3.scale.ordinal()
                    .domain(d3.range(initialData.length))
                    .rangeRoundBands([0, w - (margin["left"] + margin["right"])], 0.05);

                var yScale = d3.scale.linear()
                    .domain([0, d3.max(totals, function(d) { return d; })])
                    .range([0, h - (margin["top"] + margin["bottom"])]);

                var bars = svg.selectAll("rect")
                    .data(initialData)
                    .enter()
                    .append("rect")
                    .attr("x", function(d, i) {
                        return xScale(i);
                    })
                    .attr("y", function(d) {
                        return h - margin["bottom"] - margin["top"] -  yScale(d[2]); // each data element is an array of [genre_id, genre_name, count]
                    })
                    .attr("width", xScale.rangeBand())
                    .attr("height", function(d) {
                        return yScale(d[2]);
                    })
                    .attr("fill", function(d, i) {
                            return colors(i);
                    })
                    .attr("transform", "translate(" + margin.left + "," + margin.top + ")")
                    .on("mouseover", function(d) {
                            var xPos = parseFloat(d3.select(this).attr("x")) + xScale.rangeBand();
                            var yPos = parseFloat(d3.select(this).attr("y")) + 10;
                            var px = "px";
                            var lengthOfName = d[1].length;
                            var lengthOfValue = String(d[1]).length;
                            //console.log([lengthOfName, lengthOfValue]);

                            d3.select("#tooltip")
                                .style("left", xPos + px)
                                .style("top", yPos + px)
                                .style("width", (lengthOfName + lengthOfValue) * 8 + px)
                                .select("#genreName")
                                .text(d[1]);
                            d3.select("#tooltip").select("#value")
                                .text(numericFormat(d[2]));

                            d3.select("#tooltip").classed("hidden", false);
                    });
                    return bars;
                };
            d3.json("/as_of", function(error, json) {
                    var ts = json["ts"];
                    ts = ts[0];

                    var message = "Results as of " + ts;
                    var px = "px";

                    var xPos = Math.floor(0.68 * w) + px;
                    var yPos = (h - margin["bottom"] + 6) + px;

                    d3.select("#asOfBox")
                        .style("left", xPos)
                        .style("top", yPos)
                        .style("width", message.length * 10 + px);

                    d3.select("#asOfBox").select("#ts")
                        .text(message);
                    });

            d3.json("/list", function(error, json) {
                for (var i in json.genres) {
                    i = parseInt(i);
                    totals.push(parseInt(json.genres[i][2]));
                    initialData.push(json.genres[i]);
                }
                var b = loadGraph()
                b.on("click", function(d) {
                    var genre_id = d[0];
                    var data = [];
                    var myColor = d3.select(this).style("fill");
                    d3.json("/top_games/" + genre_id, function(error, json) {
                        for (var i in json.top_games) {
                            data.push(json.top_games[parseInt(i)]);
                        }
                        var displayNone = ["display", "none"];

                        var columns = [
                            {column: "rank", styles: [], format: ""},
                            {column: "id", styles: [], format: ""},
                            {column: "game", styles: [], format: ""},
                            {column: "players", styles: [["text-align","right"]], format: numericFormat }
                        ];
                        var topGamesTable = array2Table(data, columns);
                        var innerHTML = topGamesTable.html()
                        var rows = innerHTML.match(/<tr (.*?)<\/tr>/g);
                        var maxRow = "";
                        rows.forEach(function(e) {
                            if (e.length > maxRow.length) {
                                maxRow = e;
                            }
                        });
                        var bound = topGamesTable.node();
                        console.log(maxRow);
                        var topBoxLeft = Math.floor(.35 * w);
                        var topBoxHeight = Math.floor(.1 * h);
                        var topBoxWidth  = Math.floor(maxRow.length * 1.08);
                        var px = "px";
                        var arbitraryWidth = (margin["left"] + margin["right"]) * 8.2;

                        if (bound["width"] > topBoxWidth) {
                            topBoxWidth = bound["width"];
                        }
                        if (topBoxWidth < arbitraryWidth) {
                            topBoxWidth = arbitraryWidth;
                        }
                        console.log(topBoxWidth);
                        d3.select("#topBox")
                            .style("background-color", myColor)
                            .style("left", topBoxLeft + px)
                            .style("top", topBoxHeight + px);
                        //    .style("width", topBoxWidth + px)
                        //    .style("height", topBoxHeight + px)
                        d3.select("#topBox").classed("hidden", false);
                        d3.select("#steamDetailsBox").classed("hidden", true);
                    });
                });
            });
        </script>
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    </body>
</html>

